extends layout

block content
  header.jumbotron(style="text-align:center;")
    h1 Express-Cloudant
    p A template for Node.js projects from your friends at 
      a(href="http://cloudant.com", target="_blank") Cloudant