doctype html
html
  head
    title Express-Cloudant
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href="img/favicon.ico")
  body
    block content
    script(type="text/javascript", src="js/app.min.js")
